.Vue-Toastification__toast--default {
  background-color: transparent !important;
  border-radius: 2px !important;
  min-height: 50px !important;
  min-width: 250px !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  select {
    min-width: 12rem;
    max-width: 12rem;
  }

  .btn {
    @apply text-white;
  }

  .toast {
    @apply !bg-transparent w-full h-full p-0 m-0;
  }
}
